/* 
  A Luke Markdown ioslides Theme.
  2018-06-01 v. 1.0.0
  Contact: Daniel Fischer <daniel.fischer@luke.fi>

  This is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You can find the GNU General Public License at <http://www.gnu.org/licenses/>.
*/ 

/* For 4:3 use this format:
  width: 900px;
  height: 700px;
  margin-left: -450px;
  margin-top: -350px;
*/

slides > slide {
  display: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  color: #797979;
  width: 1920px;
  height: 1080px;
  margin-left: -960px;
  margin-top: -540px;
  padding: 40px 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.title-slide {
  background-image: url(Luke_kupla.png);
  background-size: cover;
}

slides > slide hgroup h2 {
  color:#fe8100;
}

div.my-footer {
    font-size: 18pt;
    content: attr(label);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align:center;
    bottom: 20px;
    line-height: 1.9;
    display: block;
}

p.comment {
background-color: #DBDBDB;
padding: 10px;
border: 1px solid black;
margin-left: 25px;
border-radius: 5px;
font-style: italic;
}

p.green {
background-color: #90EE90;
padding: 10px;
border: 1px solid black;
margin-left: 25px;
border-radius: 5px;
font-style: italic;
}

p.warning {
background-color: #FFCCCB;
padding: 10px;
border: 1px solid black;
margin-left: 25px;
border-radius: 5px;
font-style: italic;
}

p.cite {
background-color: #FFFFFF;
padding: 10px;
border: 0px solid black;
margin-left: 0px;
border-radius: 0px;
font-family: sans-serif;
font-size: 15px;
}

p.link {
background-color: #FFFFFF;
padding: 10px;
border: 0px solid black;
margin-left: 0px;
border-radius: 0px;
font-family: sans-serif;
font-size: 20px;
}

p.tiny {
font-size: 14px;
}